<a href="https://colab.research.google.com/github/lalitha11553237/lalitha_info5502_spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# importing pandas
import pandas as pd

strng = input('Enter String')

dictionary={}

d =  pd.Series(list(strng)).value_counts()  #Thid will convert the string into list and for each character in the list it will count number of occurences

dictionary=d.to_dict()

print(dictionary)

ENter Stringgoogle.com
{'o': 3, 'g': 2, 'l': 1, 'c': 1, 'e': 1, 'm': 1, '.': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [ ]:
lst1= input("Please enter list of items, each separated with space")
lst=list(lst1.split(" "))
lst=map(int,lst) #converting each element in the list to integer
print(lst)
Sum=0
for item in lst:
  Sum += item   #add all item in the list
print(Sum)

Please enter list of items, each separated with list1 2 3 4
<map object at 0x7f680a623390>
10

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
string='restart'
frst_char=string[0]
#In this code first we will replace all occurances of first character to $, Then replace the first character to it's original
string=string.replace(frst_char,'$')
string=frst_char+string[1:]
print(string)

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:
import math;
def calc(a,b):
  s=0
  s=3.14*(1+a/b)**3
  return s

print(calc(10,5))

84.78

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic5={**dic1,**dic2,**dic3} #** will replace contents of dictionary and can be used to merge dictionaries
print(dic5)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
Tup=input("enter tuple elements with space")
tup=tuple(Tup.split(" "))

E = input("Enter element to find")
#search for element in tuple, if it's found then printing the same, if not it will print the same
if (E in tup):
  print("Element Found") 
else:
  print("Element not found")

enter tuple elements with space1 2 3 4
Enter element to find3
Element Found

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
import math
S=input("enter tuple elements with space")
s=set(S.split(" ")) #splitting each element and converting the entire data type to set

print("Maximum value of set is ", max(s)) #Printing maximum of set
print("minimum value of set is ",min(s)) #printing minimum of set

enter tuple elements with space1 2 3 4 5
Maximum value of set is  5
minimum value of set is  1

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [4]:
import random
from numpy.lib.shape_base import array_split
import numpy as np

from random import shuffle

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470',
'sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313'
,'ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500'
,'aos0040','ds0814', 'av0659','nv0234','hy0232']

l=[]
i=0
len1 = len(studnet_list) #calculate the lenght of list
while i<6:
    shuffle(studnet_list)  #shuffling all items in list randomly
    l.append(studnet_list[:4]) #Place 4 items from the list L in 6 groups
    del studnet_list[:4] #delete already placed items
    i=i+1
sum1 = len(studnet_list) #calculating the length of remaining items in the list
flag = True
while(flag is True):
  randInteger = random.randint(0,2) #getting an integer beteen 0 and 2
  if(sum1<=0): #if the length of student list is 0 or less then we are exiting the loop
      flag = False
      break
  randList = random.randint(0,5) #as we have made 6 groups, we are taking each one randomly
  if(len(l[randList])+randInteger<=6) and (randInteger <= sum1):
      sum1 = sum1 - randInteger
      shuffle(studnet_list)
      l[randList].extend(studnet_list[0:randInteger]) #adding remaining elements of student list to sublists
      del studnet_list[:randInteger] #Deleting each element that was added from student list
for i in l:
    print(i) #printing the elements

['dr0609', 'sg1297', 'vb0218', 'av0659', 'sm1640', 'ds0814']
['aos0040', 'nm0618', 'nv0234', 'pr0353']
['gn0108', 'sk1386', 'sm1907', 'sc1229']
['jl1252', 'sk1390', 'ms1500', 'fh0141', 'sb1357']
['sa1198', 'ak0956', 'hy0232', 'vm0377', 'kg0569', 'kg0470']
['sk1313', 'bg0320', 'ja0964', 'ak0934', 'sk1458']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [ ]:
def dup_ele():
  #taking array elements as input and splitting them to a list using the split()
  #method
  arr=[int(i) for i in list(input("enter array elements").split(" "))]
  arrayOfNumbers = array(arr)
  noDuplicates, duplicates = [],[] #empty arrays will help us to store duplicates and non duplicates separatly
  for i in arr:
    if(i not in noDuplicates):
      noDuplicates.append(i) #this will add no duplicates numbers to noDuplicates array 
    else:
      if(i not in duplicates):
        duplicates.append(i) #this will add duplicates numbers to Duplicates array 
  return duplicates
  

print(dup_ele())

enter array elements1 2 2 3 3
[2, 3]

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
from datetime import date,datetime, timedelta

year=int(input("enter the year"))
a=date(year, 1, 1) #get the first date of year
a=a+timedelta(days=(6-a.weekday())) #get date of first sunday of year
while a.year == year:
  a+=timedelta(days=7) #adding 7 days from the first sunday till the last one of that year
  print(a)

enter the year2022
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25
2023-01-01

'\nBelow code is developed on the fact \n"Every year has 52 sundays except when it\'s a leap year or the year starts with sunday"\n\nif year%4 != 0:\n  if a.weekday() != 6:\n    print("number of sundays are: ",NumOfSundays)\n  else:\n    print("number of sundays are: ",NumOfSundays+1)\nelse:\n  NumOfSundays+=1\n  print("number of sundays are: ",NumOfSundays)\n'